<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <%- include('../includes/admin-nav.ejs')%>

    <form class="form" action="/admin/about-config" method="POST" enctype="multipart/form-data">
      <% if (flashMsg) { %>
        <div><p class="user-message txt-misc"><%= flashMsg  %></p></div>
      <% } %>
      <input type="hidden" name="folder" value="about">
      <input type="hidden" name="bioId" value="<%= bio._id %>">
      <textarea class="form__element input__txt" name="bio" id="bio" cols="30" rows="20" placeholder="Write your bio here" required><%= bio.bio%></textarea>
      <p class="form-txt txt-misc">Select your profile picture: </p>
      <input type="file" name="image" id="image" accept=".jpg,.jpeg" class="form__element input">
      <img class="profil-vignette" src="<%= bio.image.url%>" alt="">
      <button class="form__element form__btn" type="submit" >EDIT</button>
    </form>


  </main>
  <%- include('../includes/footer.ejs')%>