
<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
    <%- include('../includes/admin-nav.ejs')%>
    <h3 class="uploadTxt">Image upload</h3>
    <form
      class="form add-img"
      action="/admin/home-config"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="event" value="home">
      <input type="file" name="image" id="image" accept=".jpg,.jpeg"  class="form__element input" />
      <button type="submit" class="form__element form__btn">ADD</button>
    </form>
    <section class="cont"> 
    <% if(imgs.length > 0) { %> <% for (let img of imgs) { %>
        <article class="vignette">
          <img src="/<%= img.image %>" alt="film image" />
          <input type="hidden" value="<%= img._id %>" name="imgId">
          <button class="form__btn delBtn" type="button">DELETE</button>
        </article>
        <% } %>
    <% } else { %> <h3>No image uploaded yet !</h3> <% } %>
      </section>
    </main>
  <script src="/js/admin.js"></script>
  <%- include('../includes/footer.ejs')%>>
