<%- include('../includes/head.ejs') %>
<script src="https://kit.fontawesome.com/766e633129.js" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.css" />
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <%- include('../includes/admin-nav.ejs')%>
    <div class="upload-cont">
      <h3 class="uploadTxt h3">Image upload (jpeg only)</h3>
      <div class="upload">
        <form class="form add-img" action="/admin/home-config" method="POST" enctype="multipart/form-data">
          
          <% if (flashMsg) { %>
            <div><p class="user-message txt-misc"><%= flashMsg  %></p></div>
          <% } %>
          <% if (errorMsg) { %>
            <div><p class="user-message user-message--error txt-misc"><%= errorMsg  %></p></div>
          <% } %>
          <input type="hidden" name="folder" value="index">
          <input type="file" name="image" id="image" accept=".jpg,.jpeg" class="form__element input" required />
          <div class="phone-upload-v">
            <p class="txt-misc txt-smaller">Phone & Tablet version?</p>
            <button type="button" class="form__element form__btn phone-btn"><i class="fa-flip fa-solid fa-mobile-screen-button" style="--fa-animation-duration: 3s;"></i></button>
            <div class="modal-container">
              <button type="button" class="form__element form__btn close-modal-btn"><i class="fa-solid fa-xmark"></i></button>

              <div class="image-container">
                <div class="image-workspace">
                  <img class="cropper-img" src="" alt="image to crop">
                </div>
              </div>
              <div class="preview-container">
                <div class="preview-cover">
                  <div class="img-preview" style="height: 9rem; width: 16rem"></div>

                </div>
              </div>
              <button type="button" class="form__element form__btn crop-btn">FRAME</button>
            </div>

          </div>
          <input type="hidden" value="" name="cropX">
          <input type="hidden" value="" name="cropY">
          <input type="hidden" value="" name="cropWidth">
          <input type="hidden" value="" name="cropHeight">
          <fieldset class="fieldset">
            <legend class="txt-misc radio-txt txt-smaller" >For smatphone and tablet only?</legend>
            <div>
              <label class="txt-misc txt-smaller"  for="all-device">All devices</label>
              <input class="radio-btn" checked type="radio" name="deviceOption" value="all-device" id="all-device">
            </div>
            <div>
              <label class="txt-misc txt-smaller" for="phone-only">Phone/table only</label>
              <input class="radio-btn" type="radio"  name="deviceOption" value="phone-only" id="phone-only">
            

            </div>
          
          </fieldset>
          <button type="submit" class="form__element form__btn">ADD</button>
      </div>


    </div>
    </form>


    <hr class="menu--line" />
    <section class="cont blur-none">
      <% if(imgs.length > 0) { %> <% for (let img of imgs) { %>
      <article class="vignette">
        <img src="<%= img.url%>" alt="film image"  class="admin-home-img" loading="lazy"/>
        <input type="hidden" value="<%= img.url %>" name="imgId">
        <div class="vignette-footer">
          <button class="form__btn delBtn" type="button">DELETE</button>
          <div>
            <% if (img.phoneV) { %>
              <i class="fa-solid fa-mobile-screen-button" ></i>
            <% } %>
            <% if (img.phoneVOnly) { %>
              <span class=" txt-sm "> only</span>
            <% } %>
          </div>
        </div>
       
       
      </article>
      <% } %>
      <% } else { %> <h3 class="h3">No image uploaded yet !</h3> <% } %>
    </section>
  </main>

  <script src="/js/home-admin.js"></script>
  <%- include('../includes/footer.ejs') %>