<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
    <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
    <%- include('../includes/admin-nav.ejs')%>

        <form  class="form add-bio" action="/admin/portfolio-config" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="event" value="portfolio"> 
            <!-- <input type="hidden" name="infoId" value="<%= vidsInfo._id %>"> -->
            <input type="text" name="title" placeholder="add the video title here" class="form__element input input-port" />
            <input type="text" name="vidId" placeholder="add the URL here" class="form__element input input-port" />
         
                <select name="category" id="" class="form__element input select" />
                    <option value="mv">music video</option>
                    <option value="commercial">commercial</option>
                    <option value="narrative">narrative</option>
                    <option value="reel">reel</option>
                </select>
                
          
            <p class="form-txt">Select a video thumbnail: </p>
            <input  type="file" name="image" id="image" accept=".jpg,.jpeg" class="form__element input" >
            <button class="form__element form__btn" type="submit" >ADD</button>
        </form>
        <hr class="menu--line" />
        <!-- VIGNETTE LIST -->
        <section class="cont cont-port"> 
            <% if(vidsInfo.length > 0) { %>

                <h3>* MUSIC VIDEO *</h3>

                    
            <div class="cont-vignette" data-section="0" data-name="mv">
                <% for (let vidMv of vidsInfo) { %>
            <% if(vidMv.category === "mv"){ %>
                    
                <article class="vignette vignette-port draggable" draggable="true" >
                    <input type="hidden" value="<%= vidMv.order %>" name="index">
                    <input type="hidden" value="<%= vidMv.number %>" name="number">
                    <span class="arrow-ud">&#8597;</span>
                    <img src="/<%= vidMv.image %>" alt="film image" />
                    <h3 class="title-port" data-text="<%= vidMv.title %>" ><%= vidMv.title %> - <%= vidMv.number %></h3>
                
                    <input type="hidden" value="<%= vidMv._id %>" name="vidId">
                    <button class="form__btn delBtn" type="button">DELETE</button>
                </article>
                <% } %>  
            <% } %>
                    
            </div>  
                <h3>* COMMERCIAL *</h3>    
                <div class="cont-vignette" data-section="1" data-name="commercial">
                <% for (let vidCom of vidsInfo) { %>

                    <% if(vidCom.category === "commercial"){ %>
                  
                    <article class="vignette vignette-port draggable" draggable="true">
                        <input type="hidden" value="<%= vidCom.order %>" name="index">
                        <input type="hidden" value="<%= vidCom.number %>" name="number">
                        <span class="arrow-ud">&#8597;</span>
                        <img src="/<%= vidCom.image %>" alt="film image" />
                        <h3 class="title-port" data-text="<%= vidCom.title %>"><%= vidCom.title %></h3>
                       
                        <input type="hidden" value="<%= vidCom._id %>" name="vidId">
                        <button class="form__btn delBtn" type="button">DELETE</button>
                      </article>
                    <% } %>  
                <% } %>    
            </div>
                <h3>* NARRATIVE *</h3>
                <div class="cont-vignette" data-section="2" data-name="narrative">
                <% for (let vidNar of vidsInfo) { %>

                    <% if(vidNar.category === "narrative"){ %>
                  
                    <article class="vignette vignette-port draggable" draggable="true">
                        <input type="hidden" value="<%= vidNar.order %>" name="index">
                        <input type="hidden" value="<%= vidNar.number %>" name="number">
                        <span class="arrow-ud">&#8597;</span>
                        <img src="/<%= vidNar.image %>" alt="film image" />
                        <h3 class="title-port" data-text="<%= vidNar.title %>"><%= vidNar.title %></h3>
                       
                        <input type="hidden" value="<%= vidNar._id %>" name="vidId">
                        <button class="form__btn delBtn" type="button">DELETE</button>
                      </article>
                    <% } %>  
                <% } %>    
            </div>
                <h3>* REEL *</h3>
                <div class="cont-vignette" data-section="3" data-name="reel">
                    
                <% for (let vidReel of vidsInfo) { %>

                    <% if(vidReel.category === "reel"){ %>
                  
                    <article class="vignette vignette-port draggable" draggable="true">
                        <input type="hidden" value="<%= vidReel.order %>" name="index">
                        <input type="hidden" value="<%= vidReel.number %>" name="number">
                        <span class="arrow-ud">&#8597;</span>
                        <img src="/<%= vidReel.image %>" alt="film image" />
                        <h3 class="title-port" data-text="<%= vidReel.title %>"><%= vidReel.title %></h3>
                      
                        <input type="hidden" value="<%= vidReel._id %>" name="vidId">
                        <button class="form__btn delBtn" type="button">DELETE</button>
                      </article>
                    <% } %>  
                    <% } %>  
                </div>
            <% } else { %> <h3>No Video uploaded yet !</h3> <% } %>
              </section>
    </main>
  <script src="/js/portfolio-admin.js"></script>
   <%- include('../includes/footer.ejs')%>>