<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/about.css" />
</head>

<body>
  <%- include("../includes/navigation.ejs")%>
  <main>
    <div class="container">
      <section>
        <box class="cont">
          <div class="box1">
            <p>
              <%= info.bio %>
            </p>
          </div>

          <div class="box2">
            <div class="img--container">
              <img class="img" src="<%= info.image.url %>" alt="profile picture" />
            </div>
          </div>
        </box>
        <a class="a-tag" id="insta" href="https://www.instagram.com/safwan_lekwibre/" target="_blank"><img src="./icons/insta.png" alt="" /></a>
      </section>

    </div>
    <% if (isLogged) { %>
     
      <button class="form__element form__btn admin-btn" type="button"> <a class="a-tag" href="/admin/about-config" >ADMIN PANEL</a></button>

    <% } %>
  </main>




  <script src="/js/about.js"></script>
  <%- include ("../includes/footer.ejs") %>